<section id="clients" class="mt-16 lg:mt-0">
    <div class="grid grid-cols-3 lg:grid-cols-6 gap-9 mx-4">
        <img src="/images/amazon.webp" alt="" class="select-none pointer-events-none">
        <img src="/images/dribble.webp" alt="" class="select-none pointer-events-none">
        <img src="/images/hubspot.webp" alt="" class="select-none pointer-events-none">
        <img src="/images/netflix.webp" alt="" class="select-none pointer-events-none">
        <img src="/images/notion.webp" alt="" class="select-none pointer-events-none">
        <img src="/images/zoom.webp" alt="" class="select-none pointer-events-none">
    </div>
</section>