---
import TestimonialsSlider from "@/components/TestimonialsSlider.astro";
---

<section id="testimonials" class="mt-14 lg:mt-36">
    <h2 class="text-3xl text-center font-semibold w-52 mx-auto px-[7px]">
        <mark class="bg-[#B9FF66] rounded-lg">
            Testimonials
        </mark>
    </h2>
    <p class="mt-8 lg:mt-3 mb-10 px-5 text-[16px] leading-6 text-center">
        Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services
    </p>
    <TestimonialsSlider />
</section>