---
import ContactForm from "@/components/ContactForm.astro";
---

<section id="contact" class="mt-14 lg:mt-36 mb-24">
    <h2 class="text-3xl text-center font-semibold w-52 mx-auto px-[7px]">
        <mark class="bg-[#B9FF66] rounded-lg">
            Contact Us
        </mark>
    </h2>
    <p class="mt-8 lg:mt-3 mb-10 px-5 text-[16px] leading-6 text-center">
        Connect with Us: Let's Discuss Your Digital Marketing Needs
    </p>
    <ContactForm />
</section>