<section id="hero" class="mt-28 lg:mt-0 h-screen flex justify-center items-center">
    <div class="flex flex-row">
        <div class="flex flex-col lg:w-[40%]">
            <h1 class="text-[40px] font-semibold px-5 mb-[10px]">Navigating the digital landscape for success</h1>
            <img src="/images/illustration.webp" alt="illustration" class="lg:hidden w-[361px] h-[310px] select-none pointer-events-none">
            <p class="text-[16px] leading-6 px-[10px] lg:px-5">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
            <div class="mt-10 mx-5">
                <button class="h-[68px] w-full bg-[#191A23] text-white text-xl rounded-xl">
                    Book a consultation
                </button>
            </div>
        </div>
        <div class="lg:ml-28">
            <img src="/images/illustration.webp" alt="illustration" class="hidden lg:block w-[500px] h-auto select-none pointer-events-none">
        </div>
    </div>
</section>
